[Unit]
Description=My Webapp Java Service
[Service]
User=deploy
WorkingDirectory=/opt/spring/target
ExecStart=/opt/spring/run.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target














